h1{
    text-align: center;
    background-color: rgb(89, 234, 89);
}
p{
    font-size: large;
    column-width:auto ;
    font: optional 20%;
}
img{
    width:80%;
    height: auto;
    margin: 0 10% ;
    animation-iteration-count:inherit;
    image-resolution: 470%;
}